
<ScrollView>
<WrapLayout class="main" backgroundImage="~/assets/images/bg1.jpg">
           
                    
    <Label class="txt font-weight-bold" width="170"  
        height="250" margin="5" backgroundImage="~/assets/images/h1.jpg"></Label>
    <Label class="txt font-weight-bold" width="170"
        height="250"  margin="5" backgroundImage="~/assets/images/h2.jpg" ></Label>
    <Label class="txt font-weight-bold" width="170"
        height="250" margin="5" backgroundImage="~/assets/images/h3.jpg" ></Label>
    <Label class="txt font-weight-bold"  width="170"
        height="250" margin="5"  backgroundImage="~/assets/images/h4.jpg"></Label>

        <Label class="txt font-weight-bold"  width="170"
        height="250"  margin="5" backgroundImage="~/assets/images/h5.jpg"></Label>
        <Label class="txt font-weight-bold"  width="170"
        height="250"  margin="5" backgroundImage="~/assets/images/h6.jpg"></Label>
        <Label class="txt font-weight-bold"  width="170"
        height="250"  margin="5" backgroundImage="~/assets/images/h7.jpg"></Label>
        <Label class="txt font-weight-bold"  width="170"
        height="250" margin="5"  backgroundImage="~/assets/images/h8.jpg"></Label>



</WrapLayout>
</ScrollView>