
     
            <StackLayout class="home-panel">
                <Label class="label1" text="Meditation"> </Label>
    
                <Button class="btn1"  text="Videos" [nsRouterLink]="['/yogadescriptiom']"></Button>
                <Button class="btn1" text="SoundTrack"  [nsRouterLink]= "['/videochoose']"></Button>
                <Button class="btn1" text="Description"[nsRouterLink]="['/medides']" ></Button>
                <Button class="btn1" text="Exit" [nsRouterLink]="['/choose-meditation']"></Button>
            </StackLayout>
    