<ScrollView orientation="vertical"  backgroundImage="~/assets/images/bg1.jpg" style="background-size:cover">

    <StackLayout class="home-panel">

        <Label class="spa" text="Meditation"  fontSize="40" 
            color="#FF5010" margin="5" textAlignment="center"></Label>
        <!--<TextView class="txt" editable="false" textWrap="true" borderColor="white"
            text="Meditation is a practice of concentrated focus upon a sound , object, visualization, the breath , movement , or attention itself in order to increases awareness of the present moment reduce stress ,promote relaxation, enhance personal and spiritual  growth ">
        </TextView>-->
        <Label textWrap="true" borderColor="white" text="Meditation is a practice of concentrated focus upon a sound , object, visualization, the breath , movement , or attention itself in order to increases awareness of the present moment reduce stress ,promote relaxation, enhance personal and spiritual  growth "></Label>
        <Label fontSize="25" textAlignment="center" color="#FF5010"
            fontWeight="bold" text="Types of Meditation"></Label>
        <Label text=" * Mantra Meditation"></Label>
        <Label text=" * Mindfulness Meditation"></Label>
        <Label text=" * Breathe Meditation"></Label>


        <Label fontSize="25" color="#FF5010" textAlignment="center"  fontWeight="bold" text="Mantra Meditation Technique" ></Label>

        <Label class="lft" text="1.Choose your mantra"> </Label>
        <Label class="lft" textWrap="true" text="2.Find a comfortable place to sit"></Label>
            <Label class="lft" textWrap="true" text="3.Gently close your eyes and begin by taking some deep breath"></Label>
        <Label class="lft" textWrap="true" text="4.Begin repeating your mantra silently to yourself without moving your tongue or lips"></Label>
        <Label class="lft" textWrap="true" text="5.Do not try and stop your thoughts or entry your mind"></Label>





        <Label fontSize="25" color="#FF5010" fontWeight="bold" text="Mindfulness Meditation"
            textAlignment="center"></Label>

        <Label  class="lft" text="1.Set aside some time"> </Label>
        <Label class="lft" textWrap="true" text="2.Observe the present moment as it is."></Label>
            <Label class="lft" textWrap="true" text="3.Let your judgments roll by."></Label>
        <Label class="lft" textWrap="true" text="4.Return to observing the present moment as it is."></Label>
        <Label class="lft" textWrap="true" text="5.Be kind to your wandering mind."></Label>



        <Label fontSize="25" color="#FF5010" fontWeight="bold" text="Breathe Awareness"
            textAlignment="center"></Label>

        <Label class="lft" text="1.Take a reposed, seated posture. "> </Label>
        <Label  class="lft" textWrap="true" text="2.Close your eyes,Breath simply and normally. "></Label>
            <Label class="lft"textWrap="true" text="3.Try to notice both the in breath and the out breath"></Label>
        <Label class="lft" textWrap="true" text="4.Each time your attention wanders from the act of breathing"></Label>
        <Label  class="lft" textWrap="true" text="5. return it to noticing the breath"></Label>



    </StackLayout>
