<ScrollView>


    <WrapLayout class="main" backgroundImage="~/assets/images/bg1.jpg">
           
                    
                        <Label class="txt font-weight-bold" width="170"  
                            height="300" margin="5" backgroundImage="~/assets/images/pos1.jpg"></Label>
                        <Label class="txt font-weight-bold" width="170"
                            height="300" backgroundImage="~/assets/images/pos2.jpg" ></Label>
                        <Label class="txt font-weight-bold" width="170"
                            height="300" margin="5" backgroundImage="~/assets/images/pos3.jpg" ></Label>
                        <Label class="txt font-weight-bold"  width="170"
                            height="300" margin="5"  backgroundImage="~/assets/images/pos41.jpg"></Label>
    
                            <Label class="txt font-weight-bold"  width="170"
                            height="300"  margin="5" backgroundImage="~/assets/images/pos5.jpg"></Label>
                            <Label class="txt font-weight-bold"  width="170"
                            height="300"  margin="5" backgroundImage="~/assets/images/pos621.jpg"></Label>
                            <Label class="txt font-weight-bold"  width="170"
                            height="300"  margin="5" backgroundImage="~/assets/images/pos7.jpg"></Label>
                            <Label class="txt font-weight-bold"  width="170"
                            height="300" margin="5"  backgroundImage="~/assets/images/pos8.jpg"></Label>
                    
                   
            
            </WrapLayout>
        </ScrollView>