/* Add mobile styles for the component here.  */
.home-panel{
    vertical-align: center; 
   
    
}

.description-label{
    margin-bottom: 15;
}
.txt{
    background-size:cover;
}
.border-primary,
.border-warning,
.border-danger,
.border-info,
.border-dark,
.border-success {
    border-width: 1.5;
}
.bg{

    width: 100;
}

.border-primary {
    border-color: royalblue;
}

.border-info {
    border-color: skyblue;
}

.border-warning {
    border-color: orange;
}

.border-danger {
    border-color: red;
}

.border-dark {
    border-color: black;
}

.border-success {
    border-color: greenyellow;
}

.bg-primary,
.bg-info,
.bg-success,
.bg-danger {
    color: #fff;
}

.bg-primary {
    background-color: royalblue;
}

.bg-info {
    background-color: skyblue;
}

.bg-warning {
    background-color: orange;
    color: #222222;
}

.bg-success {
    background-color: greenyellow;
}

.bg-danger {
    background-color: red;
}

.bg-white {
    background-color: #ffffff;
    color: #777777;
}







