<ScrollView>


<WrapLayout class="main" backgroundImage="~/assets/images/bg1.jpg">
       
                
                    <Label class="txt font-weight-bold" width="170"  
                        height="300" margin="5" backgroundImage="~/assets/images/inspire1.jpg"></Label>
                    <Label class="txt font-weight-bold" width="170"
                        height="300" backgroundImage="~/assets/images/inspire2.jpg" ></Label>
                    <Label class="txt font-weight-bold" width="170"
                        height="300" margin="5" backgroundImage="~/assets/images/inspire3.jpg" ></Label>
                    <Label class="txt font-weight-bold"  width="170"
                        height="300" margin="5"  backgroundImage="~/assets/images/inspire4.jpg"></Label>

                        <Label class="txt font-weight-bold"  width="170"
                        height="300"  margin="5" backgroundImage="~/assets/images/in5.jpg"></Label>
                        <Label class="txt font-weight-bold"  width="170"
                        height="300"  margin="5" backgroundImage="~/assets/images/in6.jpg"></Label>
                        <Label class="txt font-weight-bold"  width="170"
                        height="300"  margin="5" backgroundImage="~/assets/images/in7.jpg"></Label>
                        <Label class="txt font-weight-bold"  width="170"
                        height="300" margin="5"  backgroundImage="~/assets/images/in8.jpg"></Label>
                
               
        
        </WrapLayout>
    </ScrollView>