<ScrollView>

    <WrapLayout class="main" backgroundImage="~/assets/images/bg1.jpg">
           
                    
                        <Label class="txt font-weight-bold" width="170"  
                            height="300" margin="5" backgroundImage="~/assets/images/buddha1.jpg"></Label>
                        <Label class="txt font-weight-bold" width="170"
                            height="300" backgroundImage="~/assets/images/buddha2.jpg" ></Label>
                        <Label class="txt font-weight-bold" width="170"
                            height="300" margin="5" backgroundImage="~/assets/images/buddha3.jpg" ></Label>
                        <Label class="txt font-weight-bold"  width="170"
                            height="300" margin="5"  backgroundImage="~/assets/images/buddha4.jpg"></Label>
    
                            <Label class="txt font-weight-bold"  width="170"
                            height="300"  margin="5" backgroundImage="~/assets/images/buddha5.jpg"></Label>
                            <Label class="txt font-weight-bold"  width="170"
                            height="300"  margin="5" backgroundImage="~/assets/images/budha6.jpg"></Label>
                            <Label class="txt font-weight-bold"  width="170"
                            height="300"  margin="5" backgroundImage="~/assets/images/buddha7.jpg"></Label>
                            <Label class="txt font-weight-bold"  width="170"
                            height="300" margin="5"  backgroundImage="~/assets/images/buddha8.jpg"></Label>
                    
                   
            
            </WrapLayout>
        </ScrollView>