<ScrollView>


    <WrapLayout class="main" backgroundImage="~/assets/images/bg1.jpg">
           
                    
                        <Label class="txt font-weight-bold" width="170"  
                            height="300" margin="5" backgroundImage="~/assets/images/w1.jpg"></Label>
                        <Label class="txt font-weight-bold" width="170"
                            height="300" backgroundImage="~/assets/images/inspire2.jpg" ></Label>
                        <Label class="txt font-weight-bold" width="170"
                            height="300" margin="5" backgroundImage="~/assets/images/w3.jpg" ></Label>
                        <Label class="txt font-weight-bold"  width="170"
                            height="300" margin="5"  backgroundImage="~/assets/images/w4.jpg"></Label>
    
                            <Label class="txt font-weight-bold"  width="170"
                            height="300"  margin="5" backgroundImage="~/assets/images/w5.jpg"></Label>
                            <Label class="txt font-weight-bold"  width="170"
                            height="300"  margin="5" backgroundImage="~/assets/images/w6.jpg"></Label>
                            <Label class="txt font-weight-bold"  width="170"
                            height="300"  margin="5" backgroundImage="~/assets/images/w7.jpg"></Label>
                            <Label class="txt font-weight-bold"  width="170"
                            height="300" margin="5"  backgroundImage="~/assets/images/w8.jpg"></Label>
                    
                   
            
            </WrapLayout>
        </ScrollView>