<Gridlayout>
<StackLayout orientation="vertical" width="500" height="600">
  <label class="heading" text="How can we help you?" ></label>
    <Label class="label1"  text="Meditation" [nsRouterLink]="['/meditation']" pageTransition="slideRight" clearHistory="false" width="100%" height="140" backgroundImage="~/assets/images/item2.jpg"></Label>
    <Label  class="label1" text="Yoga" [nsRouterLink]="['/yoga']" pageTransition="explode" clearHistory="false" width="100%" height="140"  backgroundImage="~/assets/images/yoga.jpg"></Label>
    <Label  class="label1" text="Prayer" [nsRouterLink]="['/prayer']" pageTransition="flipRight" clearHistory="false"
    
    width="100%" height="140" backgroundImage="~/assets/images/itm4.jpg"></Label>
    <Label   class="label1" text="Daily Quotes"  [nsRouterLink]="['/daily-quotes']" pageTransition="slideLeft" clearHistory="false" width="100%" height="140"  backgroundImage="~/assets/images/itm5.jpg"></Label>
  </StackLayout>
</Gridlayout>