<ScrollView>

    <WrapLayout class="main" backgroundImage="~/assets/images/bg1.jpg">
           
                    
                        <Label class="txt font-weight-bold" width="170"  
                            height="250" margin="5" backgroundImage="~/assets/images/g1.jpg"></Label>
                        <Label class="txt font-weight-bold" width="170"
                            height="250"  margin="5" backgroundImage="~/assets/images/g2.jpg" ></Label>
                        <Label class="txt font-weight-bold" width="170"
                            height="250" margin="5" backgroundImage="~/assets/images/g33.jpg" ></Label>
                        <Label class="txt font-weight-bold"  width="170"
                            height="250" margin="5"  backgroundImage="~/assets/images/g44.jpg"></Label>
    
                            <Label class="txt font-weight-bold"  width="170"
                            height="250"  margin="5" backgroundImage="~/assets/images/g5.jpg"></Label>
                            <Label class="txt font-weight-bold"  width="170"
                            height="250"  margin="5" backgroundImage="~/assets/images/g6.jpg"></Label>
                            <Label class="txt font-weight-bold"  width="170"
                            height="250"  margin="5" backgroundImage="~/assets/images/g7.jpg"></Label>
                            <Label class="txt font-weight-bold"  width="170"
                            height="200" margin="5"  backgroundImage="~/assets/images/g88.jpg"></Label>
                    
                   
            
            </WrapLayout>
        </ScrollView>