<WrapLayout class="main" backgroundImage="~/assets/images/bg1.jpg">
<StackLayout>
    <Label class="heading font-weight-bold" text="Categories">
        </Label>

        <WrapLayout>
            <Label class="txt font-weight-bold" text="Inspirational"  width="170" [nsRouterLink]="['/inspquote']" 
                height="150" margin="5" backgroundImage="~/assets/images/quote1.jpg"></Label>
            <Label class="txt font-weight-bold" text="Humble"  [nsRouterLink]="['/humble']" width="170"
                height="150" backgroundImage="~/assets/images/quote2.jpg"></Label>
            <Label class="txt font-weight-bold" text="Buddha" [nsRouterLink]="['/buddha']" width="170"
                height="150" margin="5" backgroundImage="~/assets/images/quote3.jpg" ></Label>
            <Label class="txt font-weight-bold" text="Positive" [nsRouterLink]="['/positive']" width="170"
                height="150" backgroundImage="~/assets/images/quote4.jpg"></Label>
            <Label class="txt font-weight-bold" text="Wisdom" [nsRouterLink]="['/wisdom']" width="170"
                height="150" margin="5" backgroundImage="~/assets/images/quote5.jpg"></Label>
            <Label class="txt font-weight-bold" text="God" [nsRouterLink]="['/god']" width="170" height="150"
                backgroundImage="~/assets/images/quote6.jpg">
            </Label>
        </WrapLayout>
</StackLayout>
</WrapLayout>